# name: Publish Module
# on:
#   push:
#     branches: [main]
# env:
#   CARGO_TERM_COLOR: always

# jobs:
#   publish:
#     name: python${{ matrix.python-version }}
#     runs-on: ubuntu-latest
#     strategy:
#       matrix:
#         python-version: [3.8, 3.9]
#     steps:
#       - uses: actions/checkout@v2
#       - name: Set up Python ${{ matrix.python-version }}
#         uses: actions/setup-python@v2
#         with:
#           python-version: ${{ matrix.python-version }}
#       - name: Publish
#         env:
#           TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
#           TWINE_USERNAME: __token__
#         run: |
#           python -m pip install -U pip 
#           pip install wheel pytest setuptools wheel twine
#           python setup.py bdist_wheel sdist
#           twine upload --skip-existing dist/* 